*{
    background-image: url(https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg);
}
h1 {
    color:blueviolet;
    text-align: center;
}
a {
    color: blueviolet;
}